.left{
    background-color: antiquewhite;
    float: left;
    width: 30%;
    height: 95vh;
}
h3{
    color: black;
    margin-left: 10%;

}
.btn{
    width: 85%;
    margin-left: 10%;
    height: 6%;
    font-size: 18px;
    padding-left: 10%;
    background-color: aquamarine;
    border: 1px solid rgb(209,228,252);
    border-radius: 5px;


}
.search{
    position: absolute;
    /* margin-left:20% */
    margin: 15px 0px 0px 25px; 
    color: black;

}
.si{
    /* color: rgb(186,228,250); */
    color: black;
    display: flex;
    margin: 30px 0px 0px 30px;
    font: size 17px ;
}
hr{
    width: 90%;
    margin-top: 30px;
    /* color: rgb(186,228,250
    ); */
    color: black;
}
.span{
    margin: 20px 0px 0px 15px;
    color: black;
    /* color:rgb(186,228,250); */
    font-size: 15px;
}
.ico{
    color: black;
}
img{
    margin: 10px 0px 0px 20px; 
    border-radius: 40px 40px 40px 40px;


}
.label{
    color: black;
    /* color: rgb(186,228,250); */
    /* margin-left: 10px; */
}
.lab{
    /* color: rgb(186,228,250); */
    color: black;
    margin-left: 40px;
}
.right{
    float: right;
    width: 70%;
}
.box{
    width: 95%;
    height: 40%;
    background-color: white;
    padding: 7px 0px 7px 20px;
    margin-left: 2%;

}
.icon{
    font-size: 20px;
    color: aqua;

}
.b{
    font-size: 15px;
}
.margin{
    float: right;
    margin: -50px 20px 0% 0%;
    border: none;
    background-color: #fad8cb;
    color: #fad8cb;
    height: 45px;
    width: 15%;
    font-size: 15px;
    border-radius: 7px 7px 7px 7px;

}
.sideico{
    float: right;
    font-size: 30px;
    color: aquamarine;
    
}