.main{
    background: transparent linear-gradient(129deg, #000000 0%, #5448a1 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 700px;
    width: 100%;
    position: relative;
    margin-top: 30px;
}



.line{
    border-left: 0.5px solid rgb(57, 76, 126);
    height: 630px;
    position: absolute;
    left: 115px;
    top: 30px;
    
}

.img{
  position: absolute;
    top: 25px;
    left: 17px;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    background: transparent url(../images/b\ img.png)  no-repeat padding-box;

}
.icon{
position: absolute;
top: 150px;
}
li a:hover {
  background-color: rgb(19, 19, 146);
}
.img2{
  height: 60px;
    width: 60px;
    border-radius: 60px;
    position: absolute;
    top: 578px;
    left: 25px;
}
.border{
  border:1px solid rgb(19, 19, 146) ;
  height: 20px;
  width: 200px;

}
.icon2{
  position: absolute;
  right: 0px;
}
.text{
  margin-left: -96px;
}
/* .border2{
  color: rgb(57, 76, 126) ;
  position: absolute;
  left:20px;

} */
.col1{
  height: 100px;
  width: 460px;
  position: absolute;
  left: -74px;
  color:  rgb(101, 142, 245);
  background-color: rgb(24, 20, 51);
  border-radius: 13px;
 
}
.soyabean{
height: 65px;
width: 90px;
border-radius: 10px;
margin-top: 17px;
}
.height{
  line-height: 2px;
  font-size: 13px;
  margin-left: -13px;

}
.stext{
  padding-top: 13px;
    margin-left: -10px;

}
.height1{
  line-height: 2px;
    font-size: 13px;
    margin-left: 32px;
}

.stext1{
  padding-top: 13px;
    margin-left: 64px;
}
.height2{
  line-height: 2px;
    font-size: 13px;
    margin-left: 59px;
}
.box2{
  margin-top: 115px;
  
 
}
.box3{
  margin-top: 230px;
}
.box4{
  margin-top: 515px;
  
}
.twenty{
  margin-top: 26px;
  margin-left: 45px;
  font-weight: bold;
  position: absolute;
  bottom:10px;
    
}
.font{
  position: absolute;
 bottom:16px;
  font-size: 12px;
  color: #64c3f7;
  
}
.box5{
  height: 25px;
  background-color: rgb(69, 69, 126) ;
  border-radius: 10px;
}
.pro{
  margin-top: 100px;
  line-height: 0.5px;
  font-size: 13px;
  left: 310px;

}
.req{
  left: 463px;
  position: absolute;
   top: -21px; 
}
.req1{
  padding-left: 55px;
}
.btn1{
  width: 93px;
  background: transparent linear-gradient(235deg, #B0A6F7 0%, #66BFD0 100%) 0% 0% no-repeat padding-box;
  margin-left: 68px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
div button:hover{
  background-color: rgb(19, 19, 146);
}
.margin{
  margin-top: -68px;
}
.left1{
  margin-left: 74px;
  margin-top: 32px;
}
.left2{
  margin-left: 53px;
  margin-top: 100px;
}
.left3{
  margin-left: 98px;
  margin-top: 15px;
}
.left4{
  margin-left: 80px;
    margin-top: 50px;
}
.left5{
  margin-left: 53px;
}
.left6{
  margin-left: 56px;
}
.add{
  margin-top: 63px;
}
.btn2{
  width: 102px;
  background: transparent linear-gradient(235deg, #B0A6F7 0%, #66BFD0 100%) 0% 0% no-repeat padding-box;

  margin-left: -1px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.btn3{
  width: 102px;
  background: transparent linear-gradient(235deg, #B0A6F7 0%, #66BFD0 100%) 0% 0% no-repeat padding-box;
    margin-left: 195px;
    height: 25px;
    border-radius: 5px;
    margin-top: 101px;
    border: none;
}
.col11{
  height: 75px;
  width: 460px;
  position: absolute;
  left: -74px;
  color:  rgb(101, 142, 245);
  background: transparent linear-gradient(16deg, #5BA6CE 0%, #58537C 100%) 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 0.56;
}
 .Phone{
  margin-left: 207px;
  margin-top: 10px;
}
.num{
  margin-left: 207px;
  margin-top: 33px;
}
.whats{
  margin-left: 207px;
  margin-top: 29px;
}
.num1{
  margin-left: 207px;
  margin-top: 23px;
  color: #43b6f3;

}
